@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-nunito-sans);
}

@layer components {
  .country-title {
    font-size: 18px;
    font-weight: 800;
    line-height: 26px; /* 144.444% */
  }

  .details {
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
  }

  .content {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  .title {
    font-size: 24px;
    font-weight: 800;
    line-height: normal;
  }

  .interactive {
    @apply dark:bg-dark-secondary border border-gray-300 bg-white transition-all hover:bg-gray-200/10 dark:border-gray-700 dark:hover:bg-gray-700;
  }
}
