@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-nunito-sans);
}

@layer components {
  .country-title {
    font-size: 18px;
    font-weight: 800;
    line-height: 26px; /* 144.444% */
  }

  .details {
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
  }

  .content {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  .title {
    font-size: 24px;
    font-weight: 800;
    line-height: normal;
  }
}
